body{
  margin:auto;
  padding-left: 500px;
  padding-top: 100px;

}

h1{
  width:100px;
  height:100px;
  background-color: rgb(152, 157, 161);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  margin-left:70px;
}
button{
   width:100px;
  height:50px;
  background-color: rgb(152, 157, 161);
  margin: 10px;
  border-radius: 10px;

}