input,button{
  width:100px;
  height:50px;
  background-color: rgb(191, 204, 210);
  margin: 20px;
  /* color:white; */
  border-radius: 10px;
}

.main{
  background-color: aqua;
  width:250px;
  height:250px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  border-radius: 20px;
  padding:30px;
  padding-left: 120px;;
}

body{
  display:flex;
  justify-content: center;
  flex-direction: row;
}