*{
  margin:0;
  padding:0;
  font-family: "helvetica neue";
}

html,body{
  height:100%;
  width:100%;
}

.card{
  /* height: 100px;
  width:100px; */
  border-radius: 10px;
  background-color: aqua;
  padding: 5px;
  margin: 10px;
}